@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@font-face {
  font-family: 'fuji_quake_zone-webfont';
  src: url('../fonts/fuji_quake_zone-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'butler-regular';
  src: url('../fonts/Butler_Regular.otf') format('otf');
}
@font-face {
  font-family: 'butler-light';
  src: url('../fonts/Butler_Light.otf') format('otf');
}
