// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-header {
  background: url('/assets/space.jpg');
  background-size:cover;
}

.article-title {
  text-transform: lowercase;
  text-transform: capitalize;
}
