.contact-header {
  background: url('/assets/work.jpg');
  background-size:cover;
  .container h1 {
    color: $gold;
    font-family: 'butler-light';
  }
}
section.contact {
  padding-top: 200px;
  padding-bottom: 200px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
  }
}

section.map {
  #map {
    height: 400px;
    width: 100vw;
   }
   .map-header {
     font-family: 'butler-light';
     text-transform: uppercase;
     color: black;
     font-size: 15px;
     margin-top: 15px;
     margin-bottom: 10px;
   }
   p {
     color: $gold;
   }
}
