<section class="module footer">
  <div class="container reveal">
    <h3>Stay Connected</h3>
    <i class="fa fa-github-alt fa-2x" aria-hidden="true"></i>
    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
    <i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i>
  </div>
</section>
