<% social_profile_tags = ["github-alt", "instagram", "linkedin", "medium", "pinterest-p"]
   social_profile_urls = social_profile_tags.map { |tag| "fa fa-#{tag} fa-2x" } %>

<section class="module footer">
  <div class="container reveal">
    <h3>Stay Connected</h3>
    <% social_profile_urls.each do |url| %>
      <i class="<%= url %>" aria-hidden="true"></i>
    <% end %>
  </div>
</section>
